<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vue练习4</title>
    <link rel="stylesheet" href="">
    <script src="js/vue.js"></script>
</head>

<body>
<div id="app">
  <span v-for="n in 10">{{ n }}</span>
    <div v-if="loginType==='username'">username<input type="text"></div>
    <div v-else="loginType==='email'">email <input type="text"></div>
    <button v-on:click="toggle"     >test</button>
</div>
<div>

</div>
<script>
    var vm=new Vue({
        el:"#app",
        data:{
            loginType:"username"
        },
        methods:{
            toggle:function(){
                this.loginType=this.loginType==="username"?"email":"username"
            }
        }
    });
</script>
</body>

</html>
