<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>薪起程管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="./static/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="./static/css/login.css">
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="./static/css/ie9.css"><![endif]-->
</head>

<body>
    <div id="reset" class="layout" v-cloak>
        <layout>
            <header class="login-header">
                <div class="logo-wrapper">
                    <img src="./static/images/logo.png" />
                    <div>
                        <h2>薪起程<span>管理系统</span></h2>
                        <p>xinqichengguanlixitong</p>
                    </div>
                </div>
            </header>
            <content class="login-content">
                <div class="resetpass">
                    <div class="tips">已有账号，<a href="./login.html">马上登录</a></div>
                    <div class="rp-border">
                        <div class="step-header">薪起程-重置密码</div>
                        <div>
                            <steps :current="current">
                                <step :title="setpgroup[0].title" content="填写手机号码"></step>
                                <step :title="setpgroup[1].title" content="输入验证码、密码"></step>
                                <step :title="setpgroup[2].title" content="完成"></step>
                            </steps>
                            <div class="step1" v-if="current == 0">
                                <i-form ref="step1" :model="step1" :rules="ruleStep1" @submit.native.prevent>
                                    <form-item prop="phone">
                                        <i-input v-model="step1.phone" placeholder="请输入手机号"></i-input>
                                    </form-item>
                                    <form-item prop="check">
                                        <checkbox-group v-model="step1.check">
                                            <checkbox label="已阅读并同意"></checkbox>
                                        </checkbox-group>
                                        <span class="agreement" @click="openModal">《网络服务使用协议》</span>
                                    </form-item>
                                    <form-item>
                                        <i-button type="primary" @click="step1Submit('step1')" long>下一步</i-button>
                                    </form-item>
                                </i-form>
                            </div>
                            <div class="step2" v-if="current == 1">
                                <i-form ref="step2" :model="step2" :rules="ruleStep2">
                                    <form-item prop="VC">
                                        <row>
                                            <i-col span="16">
                                                <i-input type="text" v-model="step2.VC" placeholder="验证码"></i-input>
                                            </i-col>
                                            <i-col span="7" offset="1">
                                                <i-button @click="sendVC" :loading="loading" :disabled="content != '发送验证码'">
                                                    <span v-if="!loading">{{content}}</span>
                                                    <span v-else>发送中...</span>
                                                </i-button>
                                            </i-col>
                                        </row>
                                    </form-item>
                                    <form-item prop="password">
                                        <i-input type="password" v-model="step2.password" placeholder="6-16位密码，字母/数字/符号至少2种"></i-input>
                                    </form-item>
                                    <form-item prop="againpassword">
                                        <i-input type="password" v-model="step2.againpassword" placeholder="再次输入密码"></i-input>
                                    </form-item>
                                    <form-item>
                                        <i-button type="primary" :loading="rpBtnloading" @click="step2Submit('step2')" long>
                                            <span v-if="!rpBtnloading">确定</span>
                                            <span v-else>发送中</span>
                                        </i-button>
                                    </form-item>
                                </i-form>
                            </div>
                            <div class="step3" v-if="current == 2">
                                <div>
                                    <icon type="ios-checkmark-circle" />
                                </div>
                                <span class="callback">验证成功，{{backtime}}秒后返回登录界面</span>
                            </div>
                        </div>
                    </div>
                </div>
            </content>
            <footer class="login-footer">
                <p>版权所有 © 2010－2017 博纳德投资管理集团有限公司 皖B2-20170029-1</p>
                <p>地址：广东佛山顺德区大良街道德胜东路3号西安交通大学研究院综合楼7楼 电话：0757-22912849</p>
            </footer>
        </layout>
        <modal v-model="modalVisible" fullscreen width="100" title="《网络服务使用协议》" footer-hide>
            <div>
                <pre>{{agreementContent}}</pre>
            </div>
        </modal>
    </div>
</body>
<script type="text/javascript" src="./static/js/config.js"></script>
<script type="text/javascript" src="./static/js/browser-polyfill.min.js"></script>
<script type="text/javascript" src="./static/js/vue.min.js"></script>
<script type="text/javascript" src="./static/js/iview.min.js"></script>
<script type="text/javascript" src="./static/js/underscore-min.js"></script>
<script type="text/javascript" src="./static/js/js.cookie.min.js"></script>
<script type="text/javascript" src="./static/js/axios.min.js"></script>
<script type="text/javascript" src="./static/js/utils.js"></script>
<script type="text/javascript" src="./static/js/jsencrypt.js"></script>
<script type="text/javascript" src="./static/js/md5.js"></script>
<script>
'use strict';
new Vue({
    el: '#reset',
    data: function () {
        return {
            pk: 'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDFbuyHjN4+18OjRSyzOUli1Ic0tD/ZkfoDeHHTD3S6v/sVnfczpafqz7fNXUFCyO7mJlM58IAHoHGvrjhCXs5E29ySI62Qk5tC9g1ofrDcp9DLS3HsBZVfwqVlgtTPV64IUSMckP9ZPradAoyUY5oGXJhkHP+MAEaHaIYaSlgmiQIDAQAB',
            current: 0,
            rpBtnloading: false,
            agreementContent: '',
            modalVisible: false,
            loading: false,
            second: 60,
            backtime: 3,
            content: '发送验证码',
            msgId: '',
            setpgroup: [{ 'title': '进行中' }, { 'title': '待进行' }, { 'title': '待进行' }],
            step1: {
                phone: '',
                check: ['已阅读并同意']
            },
            ruleStep1: {
                phone: [
                    { required: true, message: '请输入手机号码', trigger: 'blur' },
                    { type: 'string', pattern: /^[1][3,4,5,7,8][0-9]{9}$/, message: '手机号码填写有误', trigger: 'blur' }
                ],
                check: [
                    { required: true, type: 'array', min: 1, message: '请勾选同意协议', trigger: 'change' }
                ],
            },
            step2: {
                VC: '',
                password: '',
                againpassword: ''
            },
            ruleStep2: {
                VC: [
                    { required: true, message: '请输入验证码', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: '请设置登录密码', trigger: 'blur' },
                    { type: 'string', pattern: /(?!^\d+$)(?!^[A-Za-z]+$)(?!^[^A-Za-z0-9]+$)(?!^.*[\u4E00-\u9FA5].*$)^\S{6,16}$/, message: '请输入6-16位密码，字母/数字/符号至少2种', trigger: 'blur' }
                ],
                againpassword: [
                    { required: true, message: '请再次输入你的密码', trigger: 'blur' },
                    { message: '两次输入的密码不一致，请重新输入', trigger: 'blur' },
                    {
                        validator: function (rule, value, callback) {
                            if (this.step2.password != value) {
                                callback(new Error('两次输入的密码不一致，请重新输入'));
                            } else {
                                callback();
                            }
                        }.bind(this)
                    }
                ],
            }
        }
    },
    methods: {
        openModal: function () {
            this.agreementContent = this.getArticle();
            this.modalVisible = true;
        },
        getArticle: function () {
            var xhr = new XMLHttpRequest();
            xhr.open('get', './static/data/agreement.txt', false); //false:同步请求
            xhr.send();
            return xhr.response
        },
        step1Submit: function (name) {
            this.$refs[name].validate(function (valid) {
                if (valid) {
                    this.current = 1;
                    this.setpgroup[0].title = '已完成';
                    this.setpgroup[1].title = '进行中';
                }
            }.bind(this))
        },
        step2Submit: function (name) {
            this.$refs[name].validate(function (valid) {
                if (valid) {
                    if (!this.msgId) {
                        this.warning('请发送验证码')
                    } else {
                        this.rpBtnloading = true;
                        var jse = new JSEncrypt()
                        var formpassword = this.step2.againpassword;
                        jse.setPublicKey(this.pk);
                        var password = hex_md5(formpassword + 'xqc1254548787244') + ';;;qqq' + new Date().format('yyyy-MM-dd hh:mm:ss') + ';;;qqq' + formpassword;
                        password = jse.encrypt(password);
                        this.$utils.ajax({
                            url: '/usercenter/modify/v1/nologin/xqc/pwdReset',
                            token:false,
                            data: {
                                password: encodeURI(password).replace(/\+/g, '%2B'),
                                verifyCode: this.step2.VC,
                                mobileNumber: this.step1.phone,
                                validType: 'smsValid',
                                msgId: this.msgId
                            },
                            success: function (res) {
                                this.rpBtnloading = false;
                                if (res.httpCode == '200') {
                                    this.current = 2;
                                    this.setpgroup[1].title = '已完成';
                                    this.setpgroup[2].title = '进行中';
                                    var backwork = window.setInterval(function () {
                                        this.backtime--
                                        if (this.backtime == 0) {
                                            clearInterval(backwork)
                                            location.href = './login.html'
                                        }
                                    }.bind(this), 1000)
                                } else {
                                    this.warning(res.msg)
                                }
                            }.bind(this),
                            error: function (err) {
                                this.rpBtnloading = false;
                                this.error(err.msg);
                            }.bind(this)
                        })
                    }
                }
            }.bind(this))
        },
        warning: function (nodesc) {
            this.$Notice.warning({
                title: '提示',
                desc: nodesc ? nodesc : '请求失败'
            });
        },
        error: function (nodesc) {
            this.$Notice.error({
                title: '错误提示',
                desc: nodesc ? nodesc : '请求失败'
            });
        },
        sendVC: function () {
            this.loading = true
            this.$utils.ajax({
                url: '/usercenter/usertool/v1/nologin/bonadeCenter/send/proRandomNumber',
                token:false,
                data: {
                    mobileNumber: this.step1.phone,
                    useScena: window.USE_SCENA
                },
                success: function (res) {
                    if (res.httpCode == '200') {
                        this.getVC(res.data.randomNumber)
                    } else {
                        this.loading = false
                        this.warning(res.msg)
                    }
                }.bind(this),
                error: function (err) {
                    this.loading = false
                    this.error(err.msg)
                }.bind(this)
            })
        },
        getVC: function (rn) {
            this.$utils.ajax({
                url: '/usercenter/usertool/v1/nologin/xqc/send/sendReqSmsNoLogin',
                token:false,
                data: {
                    mobileNumber: this.step1.phone,
                    randomNumber: rn,
                    useType: 'forgetpassword',
                    useScena: window.USE_SCENA
                },
                success: function (res) {
                    if(res.httpCode == '200'){
                        if (res.data.status == 'SUCCESS') {
                            this.msgId = res.data.msgId
                            this.minutelimit()
                        } else {
                            this.warning(res.data.msg)
                        }
                    }else{
                        this.warning(res.msg)
                    }
                    this.loading = false
                }.bind(this),
                error: function (err) {
                    this.loading = false
                    this.error(err.msg)
                }.bind(this)
            })
        },
        minutelimit: function () {
            this.content = '60s再发送'
            var timeover = window.setInterval(function () {
                this.second--;
                this.content = (this.second < 10 ? '0' + this.second : this.second) + 's再发送';
                if (this.second == 0) {
                    this.content = '发送验证码';
                    this.second = 60;
                    window.clearInterval(timeover);
                }
            }.bind(this), 1000);
        }
    }
})
</script>

</html>