<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/styles.css">
  <link rel="stylesheet" href="solo.component.css">
  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script src="../../../js/flexible.debug.js"></script>
  <script src="../../../js/flexible_css.debug.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
</head>

<body>

<section>
  <!--顶部商品展示-->
  <div class="top">
    <img src="../../../img/merchan.png">
    <div class="top-span-box">
      <span>烧菜/干锅/凉菜/炒菜</span>
      <span class="top-span-b">（重庆二郎店）</span>
    </div>
  </div>

  <!--内容展示区-->
  <main>
    <!--左边tab切换-->
    <nav>
      <div class="single-nav">
        炒菜
      </div>
      <div class="single-nav">
        炒菜
      </div>
    </nav>

    <!--右边菜品展示-->
    <div class="detail-right">
      <p class="d-r-title">
        炒菜
      </p>
      <div (click)="DishName(content)" class="dish-list">
        <div class="dish-img-box">
          <img src="../../../img/dish-messi.png">
          <span>招牌</span>
        </div>

        <div class="dish-intro">
          <h2>水煮牛肉（二两）</h2>
          <p>这里显示菜的介绍，最多显示两行</p>
          <p class="price">¥25.25</p>
        </div>

        <div class="modify" style="display:none;">
          <img src="../../../img/jianhao@2x.png">
          <span>3</span>
          <img src="../../../img/add.png">
        </div>

        <div class="sell-out" style="display: inline-block">
          售罄
        </div>
      </div>
      <div class="dish-list" onclick="showDetailFood()">
        <div class="dish-img-box">
          <img src="../../../img/dish-messi.png">
          <span>招牌</span>
        </div>

        <div class="dish-intro">
          <h2>水煮牛肉（二两）</h2>
          <p>这里显示菜的介绍，最多显示两行</p>
          <p class="price">¥25.25</p>
        </div>

        <div class="modify">
          <img src="../../../img/jianhao@2x.png">
          <span>3</span>
          <img src="../../../img/add.png">
        </div>
      </div>
      <div class="dish-list">
        <div class="dish-img-box">
          <img src="../../../img/dish-messi.png">
          <span>招牌</span>
        </div>

        <div class="dish-intro">
          <h2>水煮牛肉（二两）</h2>
          <p>这里显示菜的介绍，最多显示两行</p>
          <p class="price">¥25.25</p>
        </div>

        <div class="modify">
          <div style="display: inline" *ngIf="false">
            <img src="../../../img/jianhao@2x.png">
            <span>3</span>
          </div>
          <img src="../../../img/add.png">
        </div>
      </div>
    </div>
  </main>

  <!--底部固定功能区-->
  <footer>
    <div class="f-img-box" onclick="shopCart()">
      <img src="../../../img/gouwuche@2x.png">
      <span>6</span>
    </div>

    <div class="button-right" onclick="showRemark()">
      未选择
    </div>

    <div class="f-content-center">
      <!--未选购商品-->
      <span class="f-span-one">¥</span>
      <span class="f-span-two">25.25</span>
      <span class="f-span-three">×3</span>
    </div>
  </footer>
</section>





<!--点击菜名的弹层模板-->
<div class="layer-box" id="showDetailFood" style="display: none">
  <div class="tanchuang_wrap">
    <div class="lightbox" onclick="cancelDetail()"></div>
    <div class="tanchuang_neirong-reset">
      <div class="layer-dish-img-box">
        <img class="dish-img" src="../../../img/dish-messi.png">
        <div class="ld-intro">
          <p>
            关于菜品介绍：川菜水煮牛肉，源自古老家传配方，一帆风顺，打你龟儿！我错了！
          </p>
        </div>
      </div>
      <div class="layer-dish-intro">
        <div class="ldi-title">
          <span class="ldi-badge">招牌</span>
          <span class="ldi-name">水煮牛肉（二两）</span>
        </div>
        <div class="ldi-price">
          <span class="lp-cny">¥</span>
          <span class="lp-price">25.25</span>
        </div>
        <div class="ldi-add-cart">
          加入购物车
        </div>
      </div>
    </div>
  </div>
</div>



<!--单人点餐备注浮层-->
<div class="layer-box" id="remark" style="display: none">
  <div class="tanchuang_wrap">
    <div class="lightbox" onclick="cancelRemark()"></div>
    <div class="tanchuang_neirong-remark">
      <div class="remark">
        <div class="remark-title">
          <h1>如果对菜有特殊要求请备注：</h1>
        </div>
        <div class="remark-c-box">
          <textarea class="remark-content" name="remarkNum" maxlength="50" onkeyup="checkWordNum(this)" placeholder="请输入备注内容（可不填）"></textarea>
          <span id="remarkWordNum">0/50字</span>
        </div>

        <button class="r-confirm-order">
          确认订单
        </button>
      </div>
    </div>
  </div>
</div>


<!--单人点餐点击购物车浮层-->
<div class="layer-box" id="cart" style="display: none">
  <div class="tanchuang_wrap">
    <div class="lightbox" onclick="cancelCart()"></div>
    <div class="tanchuang_neirong-cart">
      <div class="shop-cart-box">
        <div class="scb-dish-list">
          <span class="scb-dish-name">
            <span>水煮肉片</span>
            <span>（二两）</span>
          </span>
          <span class="scb-dish-price">
            <span>¥</span>
            <span>52.36</span>
          </span>
          <span class="scb-dish-handle">
            <img src="../../../img/jianhao@2x.png">
            <span class="scb-d-number">3</span>
            <img src="../../../img/add.png">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>






</body>
<script src="solo.component.js"></script>
</html>































