section {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
}
section img {
  width: 1.707rem;
  height: 1.707rem;
  margin-top: 2.16rem;
  margin-bottom: 1.387rem;
}
.pay-error {
  width: 100%;
  padding-left: 2rem;
  padding-right: 1.3rem;
  font-size: 0.48rem;
  color: #111111;
  letter-spacing: 0.013rem;
  text-align: left;
  line-height: 0.933rem;
}
.pob-p1 {
  font-weight: bold;
  font-size: 0.48rem;
  line-height: 0.48rem;
  color: #111111;
  letter-spacing: 0.013rem;
  margin-bottom: 0.4rem;
}
.pob-p1 span {
  color: #f03b42;
  margin-left: 0.213rem;
}
.pob-p2 {
  font-weight: bold;
  font-size: 0.4rem;
  line-height: 0.4rem;
  color: #666666;
  letter-spacing: 0.013rem;
}
.pob-p2 span {
  color: #fa821e;
}
.pob-p2-span1 {
  margin-left: 0.213rem;
}
.pob-p2-span2 {
  margin-left: 0.133rem;
}
.pob-button-box {
  margin-top: 2.56rem;
}
.pbb-public {
  width: 4rem;
  height: 1.147rem;
  text-align: center;
  line-height: 1.147rem;
  color: #ffffff;
  font-size: 0.48rem;
  background-color: #f03b42;
  border-radius: 0.133rem;
  letter-spacing: 0.107rem;
  margin: 0 auto;
}
.pbb-one {
  margin-bottom: 0.427rem;
}

.layer-solo-pay {
  background-color: #ffffff;
  height: 3.84rem;
  width: 100%;
  border-radius: 0.347rem !important;
}
.lsp-top {
  width: 100%;
  height: 2.653rem;
  border-bottom: 0.013rem solid #d1d1d1;
  box-sizing: border-box;
  text-align: center;
}
.lspt-tip {
  font-size: 0.48rem;
  line-height: 0.48rem;
  color: #111111;
  letter-spacing: 0.08rem;
  padding-top: 0.613rem;
  margin-bottom: 0.187rem;
}
.layer-solo-pay {
  background-color: #ffffff;
  height: 3.84rem;
  width: 100%;
  border-radius: 0.347rem !important;
}
.lsp-top {
  width: 100%;
  height: 2.653rem;
  border-bottom: 0.013rem solid #d1d1d1;
  box-sizing: border-box;
  text-align: center;
}
.lspt-info {
  font-size: .4rem;
  letter-spacing: .013rem;
  color: #111111;
  text-align: left;
  padding: 0 .4rem;
}
.lsp-bottom {
  display: flex;
  height: 1.173rem;
}
.lsp-bottom div {
  flex-grow: 1;
  line-height: 1.173rem;
  font-size: .453rem;
  text-align: center;
}
.lsp-bottom div:nth-child(1){
  border-right: .013rem solid #d1d1d1;
}

  /*手写单桌弹层*/
.layer-box {
  width: 100%;
  /*height: 100%;*/
}
.tanchuang_wrap{
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  top: 0;
  z-index:100;
  display:block;
  text-align: center;
}
.lightbox{
  width: 100%;
  /*z-index:101;*/
  height: 100%;
  background-color: rgba(55, 55, 55, 0.6) !important;
  filter:alpha(Opacity=1);
  -moz-opacity:1;
  opacity: 1;
  position:absolute;
  left: 0;
  top: 0;
}
.tanchuang_neirong{
  width: 100%;
  height: 1.3rem;
  line-height: 1.3rem;
  background-color: #FFFFFF;
  position:absolute;
  z-index:105;
  top: 2.24rem;
}
.notice-pay {
  margin-top: 5.053rem;
  background-color: #ffffff;
  border-radius: .347rem;
  position: relative;
  z-index: 999;
  margin-left: 1.333rem;
  margin-right: 1.333rem;
}