<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/styles.css">
  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script src="../../../js/flexible.debug.js"></script>
  <script src="../../../js/flexible_css.debug.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
  <link rel="stylesheet" href="my-subscribe-detail.component.css">
</head>

<body>

<div class="title-back">
  <img src="../../../img/public-top-left.png">
  <span>预约详情</span>
</div>

<div class="order-box">
  <span>订单号: 400555221364</span>
  <img src="../../../img/del.png" />
</div>

<div class="detail-box">
  <h1>商 家: 庆江米线（鱼洞店）</h1>
  <h2>时 间: 2017.05.12 12:00</h2>
  <h3>预约类型: <span>排队</span></h3>
  <h4>排位号: <span>11</span></h4>
</div>

</body>
</html>
