<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/styles.css">
  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script src="../../../js/flexible.debug.js"></script>
  <script src="../../../js/flexible_css.debug.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
  <link rel="stylesheet" href="s-table-pay.component.css">
</head>

<body>
<section>
  <section>

    <!--顶部图片-->
    <!--<img src="../../../../assets/img/gou.png">-->
    <img src="../../../img/wait.png">


    <!--底部按钮区-->
    <div class="pay-ok-box" style="display: block">
      <p class="pob-p1">用餐号码牌是:<span>001</span></p>
      <p class="pob-p2">本桌订单已通知商家服务台</p>

      <div class="pob-button-box">
        <div>
          <div class="pbb-public">我要加菜</div>
        </div>
      </div>
    </div>

    <p class="pay-error" style="display: none">
      本桌其他人正在点餐，请稍等。
    </p>
  </section>


</section>
</body>
</html>



