* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: -moz-linear-gradient(top, #eee, #fff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
    background-image: -webkit-gradient(linear, left bottom, left top, color-start(0, #eee), color-stop(1, #fff));
}

.main-container {
    width: 980px;
    margin: 100px auto 0 auto;
}

.main-container .blue-top {
    overflow: auto;
    width: 900px;
    margin: 0 auto;
    border: 2px solid #3381BF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 40px;
    height: 150px;
    border-bottom: none;
}

.main-container .blue-border {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #B2C1EA;
    padding: 20px;
    margin-top: -110px;
}

.main-container .title-h1 {
    font-size: 22px;
    text-align: center;
    width: 900px;
    margin-bottom: 50px;
}

.info-content p {
    margin: 5px 0;
}
/*
.info-content p>span {
    display: inline-block;
    width: 90px;
}*/

.info-content input {
    width: 280px;
    height: 22px;
}

.info-content input.small {
    width: 130px;
}

.info-content input.file-input {
    width: 200px;
}

.info-content {
    overflow: auto;
    width: 900px;
}

.info-content>div {
    float: left;
    height: 100%;
}

.info-content>div>img {
    background-color: #ccc;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: none;
    margin-top: 50px;
    text-align: center;
    line-height: 200px;
}

.info-content .form-content {
    width: 410px;
    padding: 0 20px;
}

.red {
    color: red;
}
.blue{
    color: blue;
}
.bold{
    font-weight: bold;
}
.left {
    float: left;
}

.right {
    float: right;
}

.main-container .submit-btn {
    display: block;
    color: #fff;
    background-color: #01459A;
    border: none;
    font-size: 16px;
    padding: 10px 30px;
    margin: 0 auto;
}

.main-container .tips {
    font-size: 12px;
    text-align: right;
    color: #666;
}
.p-indent{
    text-indent: 30px;
}
.info-content .agree-btn{
    width: inherit;
    height: inherit;
}
.disabled{
    background-color: #ccc!important;
    cursor: not-allowed;
}