<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/styles.css">
  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script src="../../../js/flexible.debug.js"></script>
  <script src="../../../js/flexible_css.debug.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
  <link rel="stylesheet" href="s-table-order.component.css">
</head>

<body>

<div class="title-back">
  <img src="../../../img/public-top-left.png">
  <span>点击详情</span>
</div>

<section>

  <!--第一个内容盒子-订单号-->
  <div class="order-number clearFloat">
    <span>订单号:</span>
    <span>236584697519</span>
    <img src="../../../img/del.png" />
  </div>

  <!--订单状态盒子-->
  <div class="order-status">
    <div class="os-first">
      <span>庆江米线</span>
      <span>（黄沙坎）</span>
      <button>已结束</button>
    </div>

    <div class="os-second">
      <span>桌号:</span>
      <span>雅间01</span>

      <span>牌号</span>
      <span>11</span>

      <span>99.50</span>
      <span>¥</span>
    </div>
  </div>

  <!--订单信息盒子-->
  <div class="order-info">
    <div class="oi-first">
      <span>点单时间:</span>
      <span>2017-07-14</span>
      <span>12:59</span>
    </div>

    <!--订单列表循环盒子-->
    <div class="oi-second">
      <div class="ois-loop">
        <img src="../../../img/dish-messi.png" />
        <span>庆江米线</span>
        <span>（2两）</span>

        <span>12.50</span>
        <span>¥</span>

        <span>×3</span>
      </div>

      <div class="ois-loop">
        <img src="../../../img/dish-messi.png" />
        <span>庆江米线</span>
        <span>（2两）</span>

        <span>12.50</span>
        <span>¥</span>

        <span>×3</span>
      </div>




      <div class="ois-loop">
        <img src="../../../img/dish-messi.png" />
        <span>庆江米线</span>
        <span>（2两）</span>

        <span>12.50</span>
        <span>¥</span>

        <span>×3</span>
      </div>

      <div class="ois-loop">
        <img src="../../../img/dish-messi.png" />
        <span>庆江米线</span>
        <span>（2两）</span>

        <span>12.50</span>
        <span>¥</span>

        <span>×3</span>
      </div>




    </div>
  </div>

  <!--备注-->
  <div class="t-remark-box">
    <h1>您的备注:</h1>
    <div class="trb-div">
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
      庆江米线最好吃！
    </div>
  </div>
</section>

</body>
</html>


